.fa-angles-left {
  color: $color-background;
  padding: 2rem;
  border: 2px solid $color-background;
}
.form {
  display: flex;
  &__group {
    & input {
      border: 2px solid $cd-box;
      border-radius: 100rem;
      color: $cd-txt;
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem;
      outline: none;
      padding: 0.5rem 1.5rem;
      width: 100%;
      transition: background-color 400ms;
      &:focus {
        border: 2px solid $cd-txt;
      }
      &:not(:focus):invalid {
        background-color: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-box;
      }
      &:not(:focus):valid {
        background-color: $color-background;
        border: 2px solid $color-primary;
        color: $cd-txt;
      }
    }
    & label {
      font-family: "Montserrat", sans-serif;
      color: $cd-txt;
      font-weight: bold;
    }
  }
}
.btn{
  &--enter{
    font-family: "Montserrat", sans-serif;
    color: $cd-box;
    font-weight: bold;
    display: flex;
    margin-left: 10%;
    align-items: center;
    border: 2px solid $color-primary;
    height: 65px;
    margin-top: 17px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $color-primary;
    transition: all 100ms;
    &:hover{
      transform: scale(1.1);
      background-color: $cd-txt;
      color: $color-background;
      cursor: pointer;
    }
  }
}
.fa-arrow-up-right-from-square{
  margin-right: 5px;
}